<div class="apod-card card">

    <div class="apod-data">
        <h1>APOD </h1>
        <h2>Astronomical picture of the day</h2>
        <p>{{ apodData.title }}</p>
        
    </div>
    


    <div class="apod-img-container">
        <!-- Display loading message if data is not available yet -->
        <div *ngIf="!apodData">Loading...</div>

        <!-- Display image or video based on mediaType -->
        <div *ngIf="mediaType === 'image'">
            <img [src]="mediaUrl" alt="{{ apodData.title }}" />
        </div>
        <div *ngIf="mediaType === 'video'">
            <iframe [src]="mediaUrl" frameborder="0" allowfullscreen></iframe>
        </div>

    </div>
    
    
</div>