/* You can add global styles to this file, and also import other style files */

:root {
    /* Dark Grey Colors */
    --dark-grey-1: #1C1C1C; /* Main background */
    --dark-grey-2: #2A2A2A; /* Secondary background or card backgrounds */
    --dark-grey-3: #333333; /* Borders, dividers, or subtle accents */
    
    /* Accent Colors */
    --primary-accent: #4A90E2; /* Buttons, links, or interactive elements */
    --secondary-accent: #48C2C7; /* Highlights or secondary actions */
    --highlight-accent: #E0E0E0; /* Subtle highlights */

    /* Neutral Colors */
    --text-white: #FFFFFF; /* Main text */
    --text-light-white: #f0f0f0;
    --text-light-grey: #B0B0B0; /* Secondary text */

    --breakpoint-tiny: 500px;  /* Tiny devices (e.g., very small phones) */
    --breakpoint-small: 768px; /* Small devices (e.g., tablets, larger phones) */
    --breakpoint-medium: 1024px; /* Medium devices (e.g., small laptops) */
    --breakpoint-large: 1200px; /* Large devices (e.g., desktops) */
    --breakpoint-xlarge: 1440px; /* Extra large devices (e.g., larger desktops, widescreens) */

}

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark-grey-1);
    color: var(--text-white);
}


/* Common Styles for all components */
.card {
    background-color: var(--dark-grey-2);
    padding: 2.1rem;
    margin: 2rem;
    border-radius: 20px;
    border: 2px solid var(--dark-grey-3);
    display: flex;
    gap: 2rem;
}