<div class="mars-card card">

    <div class="mars-card-header">
        <h1>Mars Weather</h1>
        <a href="https://api.nasa.gov/assets/insight/InSight%20Weather%20API%20Documentation.pdf" target="_blank">Reference here</a>
    </div>
    
    <label for="sol-select">Select Sol:</label>
    <select id="sol-select" [(ngModel)]="selectedSol" (change)="selectSol(selectedSol)">
        <option *ngFor="let sol of processed_data" [ngValue]="sol">
            Sol {{ sol.sol }} ({{ sol.date | date: 'shortDate' }}) 
        </option>
    </select>


    <div class="weather-card">
        <h2>Sol {{ selectedSol.sol }}</h2>
        <p><strong>Date:</strong> {{ selectedSol.date | date: 'long' }}</p>
        <p><strong>Average Temp:</strong> {{ selectedSol.avg_temp }}°C</p>
        <p><strong>Min Temp:</strong> {{ selectedSol.min_temp }}°C</p>
        <p><strong>Max Temp:</strong> {{ selectedSol.max_temp }}°C</p>
        <p><strong>Wind Speed:</strong> {{ selectedSol.wind_speed }} m/s</p>
        <p><strong>Pressure:</strong> {{ selectedSol.pressure }} Pa</p>
        <p><strong>Season:</strong> {{ selectedSol.season }}</p>
    </div>
</div>

<!-- !!!! MAYBE Visualize the weather data in graphs later... --> 